<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>base template</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    {% block form %} {% endblock %}
    {% block content %} {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>